version: '3.8'

services:
  ml_environment:
    restart: always
    container_name: tf_object_detection
    build:
      context: .
      dockerfile: ./Dockerfile
    volumes:
      - type: bind
        source: .
        target: /workspace
    command: tail -F anything
